@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

body {
    margin: 0;
    padding: 0;
}

.main {
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: space-between;
}

.mainContent {
    background-color: #fff;
    width: 1171px;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.sideBar > img {
    width: 70px;
    height: 100%;
    margin: 0;
    padding: 0;
}

@media (max-width: 1024px) {
    .sideBar > img {
        width: 0;
    }
}

@media (min-width: 1920px) {
    .sideBar > img {
        width: 350px;
    }
}



.header_1 {
    padding-top: 13px;
    padding-bottom: 13px;
    box-sizing: border-box;
}

.menuList {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menuList > li {
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 14px;
    width: 130px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 15px;
    text-transform: uppercase;
}

.menuList > li:first-child {
    padding-left: 0;
    padding-right: 10px;
}

.menuList > li:last-child {
    padding-left: 10px;
    padding-right: 0;
}

.nonePaddingBottom > li {
    padding-bottom: 0;
}

.search {
    padding: 0;
    margin: 0;
}

.logo {
    padding: 0;
    margin: 0;
}

.logo > img {
    margin: 0 0 0 0;
    padding: 0;
}

.burger {
    display: none;
    position: absolute;
}


.header_2 {
    background-color: #1C71B4;
    margin-bottom: 30px;
}

.menuListBlue {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.menuListBlue > li {
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    color: white;
    padding: 12px 2% 12px 2%;
}

.menuListBlue > li:first-child {
    padding-left: 0;
    padding-right: 2%;
}

.menuListBlue > li:last-child {
    padding-left: 2%;
    padding-right: 0;
}

.underGoods {
    margin-top: 20px;
    margin-bottom: 20px;
}

.underGoods_p {
    color: #006BB4;
    opacity: .5;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 12px;
    cursor: pointer;
    margin: 0;
    padding: 0;
}

.underGoods_p:hover {
    opacity: 1;
}

.underGoods_separator {
    color: #006BB4;
    opacity: .7;
    padding-left: 8px;
    padding-right: 8px;
    margin: 0;
    padding-bottom: 0;
}



.goodsBlock {
    padding: 20px 30px 25px 25px;
    margin: 0 0 25px 0;
    display: flex;
    box-shadow: 0 4px 2px rgba(0,0,0,0.1);
}

.goodsImgBlock {
    margin: 0 25px 0 0;
}

.goodsImgBlock > img {
    width: 200px;
    margin-bottom: 20px;
    text-align: center;
}

.price {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 18px;
    color: #368040;
    margin: 0;
    padding: 40px 0 0 0;
}

.desc {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #368040;
    margin: 0;
    padding-top: 0;
}

.submit {
    background-color: #369040;
    color: white;
    padding: 12px 26px;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 14px;
    text-align: center;
    width: 200px;
    margin-right: 30px;
}




.headGoods {
    position: relative;
}

.makerLogo {
    position: absolute;
    top: 0;
    right: 0;
}

.goodsName {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 24px;
    margin: 0 0 10px 0;
    padding: 0;
}

.seen {
    margin-left: 20px;
}

.characterBlock {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.firstCharacterBlock {
    border-left-width: 1px;
    border-left-style: solid;
    border-left-color: rgba(28, 113, 180, .1);
    padding: 15px 30px 25px 15px;
}

.secondCharacterBlock {
    border-left-width: 1px;
    border-left-style: solid;
    border-left-color: rgba(28, 113, 180, .1);
    padding: 15px 30px 25px 15px;
    width: 290px;
}

.info {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #888;
    padding: 0;
    margin: 0 0 8px 0;
}

.answer {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 16px;
    padding: 0;
    margin: 0;
}

.marginTopInfo {
    margin-top: 36px;
}

.marginSmallTopInfo {
    margin-top: 8px;
}

.specification {
    margin: 0 0 2px 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
}

.thirdCharacterBlock {
    border-left-width: 1px;
    border-left-style: solid;
    border-left-color: rgba(28, 113, 180, .1);
    padding: 20px 0 0 23px;
    width: 290px;
}

.blockIconChar {
    display: flex;
}

.blockIconChar > img {
    width: 45px;
}

.numberInChar {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 14px;
    color: #1C71B4;
    padding: 0 0 5px 18px;
    margin: 0;
}

.descInChar {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: #888;
    margin: 0;
    padding: 0 0 0 18px;
}

.actions {
    display: flex;
    margin: 0;
    padding: 0;
}

.blue {
    color: #006BB4;
}

.green {
    color: #369040;
}

.red {
    color: #D12B71;
}

.actionsText {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    padding: 0;
    margin: 0 30px 0 6px;
}

.marginTopActions {
    margin-top: 20px;
}



.simple {
    padding: 15px 105px;
    color: #05578F;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 16px;
    background-color: rgba(0, 107, 180, .03);
}

.active {
    padding: 20px 135px;
    color: #05578F;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 16px;
    background-color: #fff;
    box-shadow: 1px -1px 10px 0 rgba(0, 0, 0, 0.1);
}

.marginRightTabs {
    margin-right: 8px;
}

.tableMisha {
    margin: 0;
    width: 100%;
}

.tableMishaTH {
    padding: 13px 20px;
    color: #888;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
}

.tableMishaTH:last-child {
    text-align: right;
}

.goodsTableTD {
    background-color: #F5F9F5;
}

.mainNameGoods {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 14px;
    margin: 0 0 0 20px;
    padding: 0;
}

.descGoods {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: #888;
    margin: 0 0 0 20px;
    padding: 0;
}

.tableMishaTD {
    padding: 16px 20px 16px 20px;
    border-bottom: 1px solid rgba(136, 136, 136, .1);
}

.goodsImg {
    padding-left: 10px;
}

.relativeG {
    position: relative;
}

.officinal {
    position: absolute;
    bottom: -10px;
    right: -10px;
}

.ok {
    margin: 0;
    padding: 0 0 0 30px;
}

.priceTable {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: #369040;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
}

.priceTableDesc {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: #369040;
}

.tableDesc {
    display: flex;
    height: 120px;
}

.value {
    margin-top: 15px;
    margin-right: 10px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #888;
    margin-left: 80px;
}

.phone {
    width: 172px;
    margin-top: 15px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
}

.email {
    width: 221px;
    margin-top: 15px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
}

.site {
    width: 84px;
    margin-top: 15px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #006BB4;
    text-decoration: underline;
}

.all {
    background-color: rgba(54, 144, 64, .05);
    text-align: center;
    padding-top: 14px;
    padding-bottom: 14px;
    width: 100%;
    box-shadow: 0 9px 15px 0 rgba(0, 0, 0, 0.1);
    margin-bottom: 40px;
}

.allText {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: #369040;
}



.leftSideMore {
    width: 730px;
}

.rightSideMore {
    width: 350px;
}

.head {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 20px;
    padding: 0;
    margin: 0;
}

.descOptionalInfo {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    padding: 0;
    margin: 20px 0 20px 0;
}

.blueHead {
    color: #006BB4;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 20px;
    margin-top: 30px;
    text-transform: uppercase;
    margin-bottom: 28px;
}

.firstOptional {
    margin: 0;
    padding-left: 20px;
}

.firstOptional > li {
    list-style: square;
    color: #006BB4;
    padding-top: 10px;
    padding-bottom: 10px;
}

.firstOptional > li > span {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: black;
}

.firstOptional > li:first-child {
    padding-top: 0;
    padding-bottom: 10px;
}

.firstOptional > li:last-child {
    padding-top: 10px;
    padding-bottom: 0;
}

.secondOptional > li {
    color: #369040;
    list-style: outside;
    padding-top: 5px;
    padding-bottom: 5px;
}

.secondOptional > li > span {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: black;
}

.secondOptional > li:first-child {
    padding-top: 0;
    padding-bottom: 5px;
}

.secondOptional > li:last-child {
    padding-top: 5px;
    padding-bottom: 0;
}

.underHead {
    margin: 0 0 10px 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 16px;
}

.btnOptional > img {
    width: 15px;
}

.btnOptional {
    margin: 31px 0 40px 0;
    width: 100%;
    padding-top: 14px;
    padding-bottom: 14px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #369040;
    background-color: rgba(54, 144, 64, .05);
}

.feedbackBlock {
    padding: 20px 0 20px 0;
    border-bottom: 1px solid rgba(136, 136, 136, .2);
}

.user {
    display: flex;
    align-items: center;
    margin: 0 0 10px 0;
    padding: 0;
}

.userName {
    margin: 0 0 4px 15px;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
}

.userPlace {
    margin: 0 0 0 15px;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: #888;
}

.feedbackText {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    margin: 0 0 15px 0;
    padding: 0;
}

.more {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #006BB4;
    text-decoration: underline;
    margin: 0;
    padding: 0;
}

.resultMmr {
    color: rgba(136, 136, 136, .5);
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 12px;
    margin: 0 0 0 8px;
    padding: 0;
}

.greenColor {
    color: #369040;
}

.noBorder {
    border: none;
}

.moreBlock {
    margin: 20px 0 40px 0;
    padding: 0;
}

.moreText {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 20px;
    margin: 0 0 17px 0;
}

.moreMoreText {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 14px;
    margin: 0 0 17px 0;
    color: #888;
}

.moreMoreText > img {
    width: 15px;
}

.oneMoreBlock {
    margin: 0 0 40px 0;
    padding: 0;
    width: 255px;
}

.oneMoreBlock > img {
    width: 255px;
    margin: 0;
    padding: 0;
}

.moreTextImage {
    margin: 0 15px 0 15px;
    border-bottom: 1px solid rgba(136, 136, 136, .15);
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 14px;
    padding: 12px 0 12px 0;
}

.data {
    padding: 10px 0 12px 15px;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: #888;
    border-bottom: 1px solid rgba(136, 136, 136, .35);
}

.looksLikeBlock {
    width: 170px;
}

.looksLikesTextBlock {
    padding: 12px 15px 15px 15px;
    margin: 0 0 40px 0;
    border-bottom: 1px solid rgba(136, 136, 136, .35);
}

.looksLikesTextBlue {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 14px;
    color: #006BB4;
    text-transform: uppercase;
    padding: 0;
    margin: 0 0 5px 0;
}

.looksLikesText {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 13px;
    color: #888;
}

.actionText {
    padding: 16px 15px 15px 15px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 14px;
    margin: 0;
}

.actionTextExtra {
    padding: 16px 15px 35px 15px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 14px;
    margin: 0;
}

.actionData {
    padding: 12px 20px;
    margin: 0;
    color: #006BB4;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 14px;
    border-bottom: 1px solid rgba(136, 136, 136, .35);
}

.oneActionBlock {
    margin: 0 0 40px 0;
    padding: 0;
    width: 250px;
}

.onePopularBlock {
    width: 350px;
}

.onePopularBlock > p {
    padding: 15px 15px 20px 15px;
    margin: 0 0 60px 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 16px;
    border-bottom: 1px solid rgba(136, 136, 136, .35);
}

.bottomNav {
    background-color: #006BB4;
    color: white;
    text-transform: uppercase;
    width: 100%;
    margin: 0;
    padding: 0;
}

.bottomNav > ul {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px 40px;
    margin: 0;
}

.bottomNav > ul > li {
    list-style: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 14px;
    margin: 0;
    padding: 0;
}

.specialTop {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    margin: 0 0 7px 0;
    padding: 0;
}

.specialBot {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    margin: 7px 0 0 0;
    padding: 0;
}

.simpleP {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    margin: 7px 0 7px 0;
    padding: 0;
}

.simplePTop {
    margin: 0 0 7px 0;
    padding: 0;
}

.simplePBot {
    margin: 7px 0 0 0;
    padding: 0;
}

.menuBlock {
    margin: 0 0 30px 0;
    padding: 30px 0 30px 0;
    border-bottom: 1px solid rgba(0, 107, 180, .2);
}

.weSoc {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #888;
    margin: 0 0 10px 0;
    padding: 0;
}

.soc {
    display: flex;
    justify-content: space-between;
}

.form {
    margin: 0;
    padding: 0;
    display: flex;
}

.form > input {
    padding: 10px 0 10px 15px;
    margin: 0;
    width: 100%;
}

.form > button {
    background-color: #369040;
    color: white;
    text-transform: uppercase;
    border: none;
    padding: 10px 18px;
    margin: 0;
}

.contacts {
    display: flex;
    justify-content: right;
    align-items: flex-end;
    padding: 0;
}

.contacts > div {
    border: 2px solid rgba(0, 107, 180, .7);
    padding: 10px 24px;
    margin: 0;
    color: #006BB4;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contacts > div > img {
    margin-left: 6px;
}

.contactsSocUs {
    margin: 0 0 23px 0;
    padding: 0 0 30px 0;
    border-bottom: 1px solid rgba(0, 107, 180, .2);
}

.iqText {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #888;
    margin: 0 0 16px 0;
    padding: 0;
}

.upIQ {
    margin: 0 0 25px 0;
    padding: 0 0 22px 0;
    border-bottom: 1px solid rgba(0, 107, 180, .2);
}

.footerText {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #888;
    margin: 0;
    padding: 0;
    width: 50%;
    text-align: center;
}

.footer {
    margin: 15px 30px;
    padding: 0;
}